{extend name="admin@public/content"}

{block name="content"}
<form autocomplete="off" onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='form-horizontal layui-form padding-top-20'>

    
    <div class="layui-form-item">
        <label class="layui-form-label">还款说明</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" style="height:400px;" name="repaymentInfo" required="required" placeholder="请输入公司简介">{:sysconf('repaymentInfo')}</textarea>
        </div>
    </div>


    <div class="hr-line-dashed"></div>

    <div class="col-sm-4 col-sm-offset-2">
        <div class="layui-form-item text-center">
            <button class="layui-btn" type="submit">保存配置</button>
        </div>
    </div>

</form>
<script type="text/javascript">
    require(['jquery', 'ckeditor', 'angular'], function () {
        window.createEditor('[name="repaymentInfo"]', {height: 400,width:800});
    });
</script>
{/block}