{extend name='admin@public/content'}
{block name="content"}
<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
	<div class="layui-form-item layui-inline">
        <label class="layui-form-label">品牌方</label>
        <div class="layui-input-inline">
            <select name="allmemberId" class="layui-select" lay-filter='allmemberId'>
            <?php $allmember=getAllMember();?>
                <!--{foreach $allmember as $k=>$v}-->
                {if $Think.get.allmemberId eq $v.id}
                <option value="{$v.id}" selected="selected">{$v.companyName}</option>
                {else}
                <option value="{$v.id}">{$v.companyName}</option>
                {/if}
                <!--{/foreach}-->
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline" style='display:none;'>
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<script>
    window.form.render();
    $('[data-time]').map(function () {
        window.laydate.render({range: true, elem: this});
    });
    form.on('select(allmemberId)', function(data){
    	  $('.layui-btn-primary .layui-icon').click();
    }); 
</script>
<!-- 表单搜索 结束 -->
<script src="__STATIC__/count2.js"></script>
<style type="text/css">
.all{
	width:100%;
	height: auto;
	background: #fefefe;
}
.title{
	width: 100%;
	font-size:14px;
	color: #333;
	font-weight:100;
	margin-bottom:6px;
	margin-top:6px;
	font-weight:600;
}
.line{
	width:100%;
	height:auto;
	display:flex;
	justify-content:space-between;
}
.totalC{
	width: 23%;
	background:#fff;
	box-shadow:0 0 12px rgba(0,0,0,0.2);
	text-align:center;
}
.container{
	width: 47.15%;
	float: left;
	margin-left: 1%;
	height: 400px;
	margin-top: 10px;
	border: 1px solid #CCC;
}
.tc1{
	width: 100%;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #ccc;
	text-indent: 15px;
	font-size:14px;
	color: #fff;
	background: #24c8cb;
}
.tc2{
	width: 100%;
	height:70px;
	line-height:70px;
	text-indent: 15px;
	font-size: 30px;
	color:#333;	
}
</style>
<div class="all">
	<div class="title">代还统计</div>
	<div class="line">
		<div class="totalC">
			<div class="tc1">昨日还款总额</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['repayment']['yesterdayMoney']|sprintf="%.2f",###}' data-speed="2500"></font></div>
		</div>
		<div class="totalC">
			<div class="tc1">昨日还款笔数</div>
			<div class="tc2"><font id="x1" xx="{$data['repayment']['yesterdayNum']}">{$data['repayment']['yesterdayNum']}</font></div>
		</div>
		<div class="totalC">
			<div class="tc1">累计还款总额</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['repayment']['totalMoney']|sprintf="%.2f",###}' data-speed="2500"></font></div>
		</div>
		<div class="totalC">
			<div class="tc1">累计还款笔数</div>
			<div class="tc2"><font id="x2" xx="{$data['repayment']['totalNum']}"></font></div>
		</div>
	</div>
	<div class="title">收款统计</div>
	<div class="line">
		<div class="totalC">
			<div class="tc1" style="background:#ea5d6b;">昨日收款总额</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['quick']['yesterdayMoney']|sprintf="%.2f",###}' data-speed='2500'></font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#ea5d6b;">昨日收款笔数</div>
			<div class="tc2"><font id="x3" xx="{$data['quick']['yesterdayNum']}">{$data['quick']['yesterdayNum']}</font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#ea5d6b;">累计收款总额</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['quick']['totalMoney']|sprintf="%.2f",###}' data-speed='2500'></font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#ea5d6b;">累计收款笔数</div>
			<div class="tc2"><font id="x4" xx="{$data['quick']['totalNum']}"></font></div>
		</div>
	</div>
	<div class="title">用户统计</div>
	<div class="line">
		<div class="totalC">
			<div class="tc1" style="background:#2494f2;">昨日注册量</div>
			<div class="tc2"><font id="x5" xx="{$data['users']['yesterdayNum']}">{$data['users']['yesterdayNum']}</font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#2494f2;">总计注册量</div>
			<div class="tc2"><font id="x6" xx="{$data['users']['totalNum']}"></font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#2494f2;">已实名人数</div>
			<div class="tc2"><font id="x7" xx="{$data['users']['realnameNum']}"></font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#2494f2;">昨日缴费总额</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['users']['yesterdayMoney']|sprintf="%.2f",###}' data-speed='2500'></font></div>
		</div>
	</div>
	<div class="title">汇总统计</div>
	<div class="line">
		<div class="totalC">
			<div class="tc1" style="background:#edaf2a;">用户累计支付手续费</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['total']['feeMoney']|sprintf="%.2f",###}' data-speed='2500'></font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#edaf2a;">用户累计支付升级费</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['total']['useMoney']|sprintf="%.2f",###}' data-speed='2500'></font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#edaf2a;">用户累计收益总额</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['total']['bonusMoney']|sprintf="%.2f",###}' data-speed='2500'></font></div>
		</div>
		<div class="totalC">
			<div class="tc1" style="background:#edaf2a;">平台收益总额（含渠道）</div>
			<div class="tc2">￥<font class="timer" data-to='{$data['total']['sysMoney']|sprintf="%.2f",###}' data-speed='2500'></font></div>
		</div>
	</div>
	<script src="__STATIC__/count.js"></script>
	<script type="text/javascript">
	$("#x2").numberRock({
		speed:50,
		count:$("#x2").attr('xx')*1
	})
	$("#x4").numberRock({
		speed:50,
		count:$("#x4").attr('xx')*1
	})
	$("#x6").numberRock({
		speed:50,
		count:$("#x6").attr('xx')*1
	})
	$("#x7").numberRock({
		speed:50,
		count:$("#x7").attr('xx')*1
	})
	</script>
	<iframe src="{:URL('bing')}?allmemberId={$allmemberId}" style="width:100%;height:450px;" frameborder="0"></iframe>
</div>
{/block}
