<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">地区名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value='{$vo.name|default=""}' required="required" title="请输入地区名称" placeholder="请输入地区名称" class="layui-input">
            <p class="help-block color-desc"><b>必填</b>，请填写地区名称（如：北京市）</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">地区编号</label>
        <div class="layui-input-block">
            <input type="text" name="id" value='{$vo.id|default=""}' required="required" title="请输入地区编号" placeholder="请输入地区编号" class="layui-input">
            <p class="help-block color-desc"><b>必填</b>，请填写地区名称（请自动补齐6位数字，如北京市(110000) 北京市(110100) 东城区(110101)）</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">地区排序</label>
        <div class="layui-input-block">
            <input type="text" name="sort" value='{$vo.sort|default="0"}' required="required" title="请输入地区排序" placeholder="请输入地区排序" class="layui-input">
            <p class="help-block color-desc"><b>必填</b>，请填写地区排序</p>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['pid'])}<input type='hidden' value='{$vo.pid|default="0"}' name='pid'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消操作吗？" data-close>取消操作</button>
    </div>
</form>
