<form autocomplete="off" onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <table class="layui-table" lay-size="sm">
        <thead>
        <tr>
            <th class="text-center nowrap">头像</th>
            <th class="text-center nowrap">用户手机</th>
            <th class="text-center nowrap">用户姓名</th>
            <th class="text-center nowrap">用户等级</th>
            <th class="text-center nowrap">账户余额</th>
            <th class="text-center nowrap">冻结余额</th>
            <th class="text-center nowrap">累计收益</th>
            <th class="text-center nowrap">实名状态</th>
            <th class="text-center nowrap">用户状态</th>
            <th class="text-center nowrap">注册时间</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class="text-center nowrap">
                <img data-tips-image style="height:auto;max-height:32px;min-width:32px" src="{$vo.avatar|default='/static/avatar.png'}"/>
            </td>
            <td class="text-center nowrap">{$vo.phone}</td>
            <td class="text-center nowrap">{$vo.realname}</td>
            <td class="text-center nowrap">{:getMemberLevelName($vo['level'],$allmemberId)}</td>
            <td class="text-center nowrap">￥{$vo.accountMoney}</td>
            <td class="text-center nowrap">￥{$vo.freezeMoney}</td>
            <td class="text-center nowrap">￥{$vo.bonusMoney}</td>
            <td class='text-center'>
                {if $vo.realnameStatus eq 0}<span>未实名</span>{elseif $vo.realnameStatus eq 1}<span class="color-green">已实名</span>{/if}
            </td>
            <td class='text-center'>
                {if $vo.status eq 0}<span>禁用</span>{elseif $vo.status eq 1}<span class="color-green">启用</span>{/if}
            </td>
            <td class="text-center nowrap">{$vo.regTime}</td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page|raw}</p>{/if}
    {/if}
</form>