{extend name="admin@public/content"}

{block name="content"}
<!-- 表单搜索 开始 -->
<form autocomplete="off" class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get">
	<div class="layui-form-item layui-inline">
        <label class="layui-form-label">品牌方</label>
        <div class="layui-input-inline">
            <select name="allmemberId" class="layui-select" lay-filter='allmemberId'>
            <?php $allmember=getAllMember();?>
                <!--{foreach $allmember as $k=>$v}-->
                {if $Think.get.allmemberId eq $v.id}
                <option value="{$v.id}" selected="selected">{$v.companyName}</option>
                {else}
                <option value="{$v.id}">{$v.companyName}</option>
                {/if}
                <!--{/foreach}-->
            </select>
        </div>
    </div>
    <div class="layui-form-item layui-inline" style='display:none;'>
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>

</form>
<script>
    window.form.render();
    $('[data-time]').map(function () {
        window.laydate.render({range: true, elem: this});
    });
    form.on('select(allmemberId)', function(data){
    	  $('.layui-btn-primary .layui-icon').click();
    }); 
</script>
<!-- 表单搜索 结束 -->
<div class="layui-card">
<table class="layui-table">
   <tbody>
   		{foreach name='day' item='day' key='k'}
       <tr>
       {switch name='k'}
       	{case value='xf'}
       	<td class='text-center'>先锋收款</td>
       	{/case}
       	{case value='yb'}
       	<td class='text-center'>易宝收款</td>
       	{/case}
       	{case value='cj'}
       	<td class='text-center'>畅捷收款</td>
       	{/case}
       	{case value='all'}<td class='text-center'>总计</td>{/case}
       {/switch}
          <td class='text-center'>总交易额（元）&nbsp;{$day[1]}</td>
          <td class='text-center'>近一周交易额（元）&nbsp;{$day[2]}</td>
          <td class='text-center'>近一个月交易额（元）&nbsp;{$day[3]}</td>
          <td class='text-center'>近三个月交易额（元）&nbsp;{$day[4]}</td>
          <td class='text-center'>近六个月交易额（元）&nbsp;{$day[5]}</td>
          <td class='text-center'>总笔数&nbsp;{$day[6]}</td>
       </tr>
       {/foreach}
    </tbody>
</table>
<table class="layui-table">
    <tbody>
       <tr>
          <td style="width: 50%;"><div id="speedChartMain0" style="height:400px;"class="layui-card"></div></td>
          <td style="width: 50%;"><div id="speedChartMain1" style="height:400px;"class="layui-card"></div</td>
       </tr>
    </tbody>

</table>
</div>
<script type="text/javascript" src="__STATIC__/echarts/echarts.js"></script>
<script type="text/javascript" src="__STATIC__/echarts/echarts.min.js"></script>
<script type="text/javascript" src="__STATIC__/echarts/echarts-gl.min.js"></script>
<script type="text/javascript" src="__STATIC__/echarts/ecStat.min.js"></script>
<script type="text/javascript" src="__STATIC__/echarts/dataTool.min.js"></script>
<script type="text/javascript" src="__STATIC__/echarts/china.js"></script>
<script type="text/javascript" src="__STATIC__/echarts/world.js"></script>
<script type="text/javascript" src="__STATIC__/echarts/bmap.min.js"></script>
<script type="text/javascript">
var quickSource={$quickSource|raw};
var quickName={$quickName|raw};
var quickAll={$quickAll|raw};
var timeX={$timeX|raw};
</script>
<script src="__STATIC__/echartsjs/quick.js" type="text/javascript"></script>
{/block}