<style type="text/css">
    .layui-form-label {
        width: 120px;
    }
    .layui-input-block {
        margin-left: 140px;
    }
</style>
<form autocomplete="off" class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">完美还款</label>
        <div class="layui-input-block">
            <input type="text" name="firstRepaymentRate" readonly value='{$vo.firstRepaymentRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">极速还款1</label>
        <div class="layui-input-block">
            <input type="text" name="secondRepaymentRate" readonly value='{$vo.secondRepaymentRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">极速还款2</label>
        <div class="layui-input-block">
            <input type="text" name="thirdRepaymentRate" readonly value='{$vo.thirdRepaymentRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">极速还款3</label>
        <div class="layui-input-block">
            <input type="text" name="fourthRepaymentRate" readonly value='{$vo.fourthRepaymentRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">信汇还款</label>
        <div class="layui-input-block">
            <input type="text" name="fifthRepaymentRate" readonly value='{$vo.fifthRepaymentRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">代还单笔</label>
        <div class="layui-input-block">
            <input type="text" name="RepaymentFee" readonly value='{$vo.RepaymentFee|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>
	<div class="layui-form-item">
        <label class="layui-form-label">先锋收款</label>
        <div class="layui-input-block">
            <input type="text" name="firstQuickRate" readonly value='{$vo.firstQuickRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">畅捷收款1</label>
        <div class="layui-input-block">
            <input type="text" name="secondQuickRate" readonly value='{$vo.secondQuickRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">畅捷收款2</label>
        <div class="layui-input-block">
            <input type="text" name="thirdQuickRate" readonly value='{$vo.thirdQuickRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">畅捷收款3</label>
        <div class="layui-input-block">
            <input type="text" name="fourthQuickRate" readonly value='{$vo.fourthQuickRate|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">收款单笔</label>
        <div class="layui-input-block">
            <input type="text" name="QuickFee" readonly value='{$vo.QuickFee|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时的费率与此成本差奖励给平台</p>
        </div>
    </div>
	<div class="layui-form-item">
        <label class="layui-form-label">提现单笔手续费</label>
        <div class="layui-input-block">
            <input type="text" name="memberCashFee" readonly value='{$vo.memberCashFee|default=""}' class="layui-input">
            <p class="help-block color-desc">用户使用软件时提现单笔手续费</p>
        </div>
    </div>
    <div class="hr-line-dashed"></div>

</form>